.dashboard-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

header h1 {
    color: #333;
    text-align: center;
}

input[type="search"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.exercise-list {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.exercise-group {
    margin-bottom: 30px;
}

.exercise-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.exercise-search{
    display: inline-block; 
    width: 40%; 
    margin-right: 10px;
}

.exercise-item h4 {
    margin-bottom: 10px;
}

.easy {
    color: green;
}

.medium {
    color: orange;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
